{% extends 'base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Customer List</h1>
        {% for user in users %}
        <div class="mt-3">
            <h4><a href="{% url 'customer:customer_detail' id=user.pk %}">{{ user.first_name }} {{ user.last_name }}</a></h4>
            <p>
                Their username is {{ user.username }} and they live at {{ user.customer.address }}.
                You can reach them at {{ user.email }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
