{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid rounded">
            </div>
            <div class="col-md-6">
                <h1 class="mb-4">{{ product.name }}</h1>
                <h2 class="mb-4">
                    <a href="{{ product.category.get_absolute_url }}" class="text-decoration-none text-dark">
                        {{ product.category }}
                    </a>
                </h2>
                <p class="h4 text-success font-weight-bold mb-4">${{ product.price }}</p>
                <form action="{% url 'basket:basket_add' product.id %}" method="post" class="mb-4">
                    {{ basket_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart" class="btn btn-primary">
                </form>
                <p class="lead">{{ product.description|linebreaks }}</p>
            </div>
        </div>
    </div>
{% endblock %}
