{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container my-5">
    <h1 class="text-center mb-5">Checkout</h1>
    <div class="row">
        <div class="col-md-6 order-info">
            <h3>Your order</h3>
            <ul class="list-group">
                {% for item in cart %}
                <li class="list-group-item">
                    <span class="font-weight-bold">{{ item.quantity }}x {{ item.product.name }}</span>
                    <span class="float-right">${{ item.total_price }}</span>
                </li>
                {% endfor %}
            </ul>
            <p class="font-weight-bold mt-3">Total: ${{ cart.get_total_price }}</p>
        </div>
        <div class="col-md-6 order-form">
            <h3>Fill in the form</h3>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Place order" class="btn btn-primary"></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
