{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}

<div class="container text-center">
    <h1>Create an account</h1>
    <p>Please sign up using the following form:</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ user_form.username.id_for_label }}">Username:</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="{{ user_form.email.id_for_label }}">Email:</label>
            {{ user_form.email }}
        </div>
        <div class="form-group">
            <label for="{{ user_form.password.id_for_label }}">Password:</label>
            {{ user_form.password }}
        </div>
        <div class="form-group">
            <label for="{{ user_form.password2.id_for_label }}">Confirm Password:</label>
            {{ user_form.password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Create my account</button>
    </form>
</div>

{% endblock %}
